.search-form-container {
  display: grid;
  grid-template-columns: 70% auto;
  padding: 4rem 10rem;
  width: 100%;
  flex: 0 0 50%;

  &__left {
    display: flex;
    justify-content: center;

    // Align Icon
    display: flex;
    align-items: center;
    justify-content: center;

    .search--input {
      outline: none;
      border: none;
      font-family: inherit;
      font-size: 1.2rem;
      background-color: #f4f2f2;
      color: #777;
      padding: 0.7rem 5rem;
      border-radius: 100px;
      width: 75%; // Search Input will increase from 75% to 85% of its available width
      transition: all 0.2s;
      margin-left: -4rem; // allows icon to overlay input

      &:focus {
        outline: none;
        width: 85%;
      }
    }

    .icon {
      z-index: 100;
      fill: #777; // SVG icon color
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;

    .select--input {
      outline: none;
      background-color: #fff;
      border-radius: 0.2rem;
      border: none;
    }

    input[type="submit"] {
      outline: none;
      padding: 0.5rem 1rem;
      border: 1px solid #808080;
      border-radius: 0.5rem;

      &:hover {
        background-color: #808080;
        border: 1px solid #fff;
        color: #fff;
        transition: all 0.5s;
      }
    }
  }
}

.limit--container {
  display: flex;
}
