.social-media i {
  font-size: 3rem;
}

.fa-facebook-square {
  color: #3b5999;
  transition: color 0.4s;
}

.fa-twitter-sqaure {
  color: #55acee;
  transition: color 0.4s;
}

.fa-instagram {
  color: #e6683c;
  transition: color 0.4s;
}

.fa-google-plus-square {
  color: #dd4b39;
  transition: color 0.4s;
}

.fa-facebook-square:hover,
.fa-twitter-sqaure:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover {
  color: $primary-green;
}
