// Colors

$primary-green: #1dd1a1;
$secondary-green: #10ac84;
$primary-blue: #48dbfb;
$secondary-blue: #0abde3;
$primary-yellow: #feca57;
$secondary-yellow: #ff9f43;
$primary-purple: #5f27cd;
$secondary-purple: #341f97;

// Breakpoints for Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 1440px;
